#full docs: https://projectlombok.org/features/configuration

#do not seek for additional lombok.config files in parent directories
config.stopBubbling = true
#mark generated code with @Generated annotation, so it can be ignored by code coverage tools
lombok.addLombokGeneratedAnnotation = true
#add @ConstructorProperties to all generated constructors, so that they can be used by frameworks like Jackson for deserialization
lombok.anyconstructor.addconstructorproperties = true
#generate setters that return 'this' instead of void, so that they can be chained together
lombok.accessors.chain = true
#add @Value to the list of annotations that lombok considers as copyable, so that they can be used in generated constructors or builders
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value